body {
    background-color: blanchedalmond;
}

.pozadie-vlavo {
    background-image: url("../images/kinoALiteratura1.jpg");
}

.pozadie-vpravo {
    background-image: url("../images/kinoALiteratura2.png");
}

.pozadie-vlavo, .pozadie-vpravo {
    background-size: contain;
    background-position: center;
}

.navbar {
    background: conic-gradient(burlywood, blanchedalmond, peru, tan);
    margin: 5px -8px 0;
    padding: 5px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.navbar-brand {
    font-weight: bold;
    font-family: serif;
    font-size: 200%;
    letter-spacing: 1px;
}

.navbar-nav a {
    font-weight: bold;
}

.hlavny-carousel {
    margin-top: 1vh;
}

