@media (min-width: 768px) {
    .user-card {
        margin-left: 200px;
        margin-right: 200px;
    }
}

body {
    background-color:  blanchedalmond;
}

.background-left {
    background-image: url("../images/kinoALiteratura1.jpg");
}

.background-right {
    background-image: url("../images/kinoALiteratura2.png");
}

.background-left, .background-right {
    background-size: contain;
    background-position: center;
}

.navbar {
    background: conic-gradient(burlywood, blanchedalmond, peru, tan);
     margin: 5px -8px 0;
    padding: 5px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.navbar-brand {
    font-weight: bold;
    font-family: serif;
    font-size: 200%;
    letter-spacing: 1px;
}

.navbar-nav a {
    font-weight: bold;
}

.dropdown-item:hover {
    background-color: burlywood;
}

.dropdown-menu {
    background-color: blanchedalmond;
}

.main-carousel {
    margin-top: 10px;
}

.logged-in-info {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    color: saddlebrown;
}

.registration-info {
    border: 2px dashed black;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.registration-info a {
    color: saddlebrown;
}

.card-body {
    background-color: blanchedalmond;
}

.titleName {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.forms div {
    margin-bottom: 20px;
}

.formsOrganized label {
    margin-left:  15px;
}

.imp {
    color: red;
}

.forms strong {
    text-align: center;
    font-size: 15px;
    color: #c9060a;
}

.btn-brown {
    background-color: #5b3a29;
    color: white;
    padding: 10px 18px;
    border-radius: 6px;
    font-weight: 600;
}

.user-card {
    background-color: burlywood;
    border: 2px solid saddlebrown;
    margin: 0 40px 10px;
}

.btn-delete {
    background-color: saddlebrown;
    padding: 8px 14px;
    border-radius: 6px;
    font-weight: bold;
    margin-top: 10px;
}

.form-control:focus {
    box-shadow: none !important;
    outline: none !important;
    border-color: #ced4da !important
}

.filterLabel {
    font-weight: bold;
    margin-right: 10px;
}

.specialBackgroundColor {
   background-color: #5b3a29;
}

.specialColor {
    color: #5b3a29;
}

.rankingsCard .card-body {
    background-color: burlywood;
}

.rankingsCard {
    background-color: burlywood;
    border: 2px solid saddlebrown;
}

.workRow {
    background-color: burlywood;
    border: 2px solid saddlebrown;
}

.workParts {
    border: 2px solid saddlebrown;
}

.listLink {
    text-decoration: none;
    color: black;
}

.listLink:hover {
    text-decoration: underline;
}

.starRating label {
    color: #bc0012;
    cursor: pointer;
}

.userRating {
    color: #bc0012;
}

#favoriteHeart {
    cursor: pointer;
}

#favoriteHeart:hover {
    transform: scale(1.1);
}








