body {
    background-color: blanchedalmond;
}

.background-left {
    background-image: url("../images/kinoALiteratura1.jpg");
}

.background-right {
    background-image: url("../images/kinoALiteratura2.png");
}

.background-left, .background-right {
    background-size: contain;
    background-position: center;
}

.navbar {
    background: conic-gradient(burlywood, blanchedalmond, peru, tan);
    margin: 5px -8px 0;
    padding: 5px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.navbar-brand {
    font-weight: bold;
    font-family: serif;
    font-size: 200%;
    letter-spacing: 1px;
}

.navbar-nav a {
    font-weight: bold;
}

.main-carousel {
    margin-top: 10px;
}

.registration-info {
    border: 2px dashed black;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.registration-info a {
    color: saddlebrown;
}

.card-body {
    background-color: blanchedalmond;
}

.auth-name {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.registration div {
    margin-bottom: 20px;
}

.registration label {
    margin-left:  15px;
}

.imp {
    color: red;
}

div span {
    text-align: center;
    font-size: 15px;
    color: red;
}
